<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</head>
<body>
    {% block navbar %}

    {% url 'home' as home_url %}
    {% url 'user_register' as register_url %}
    {% url 'user_login' as login_url %}
    {% url 'user_logout' as logout_url %}
    {% url 'product:list' as list_url %}
    {% url 'cart:home' as cart_url %}

        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand {% if request.path == home_url %}active{% endif %}" href="{{ home_url }}">Home</a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == list_url %}active{% endif %}" href="{{ list_url }}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == cart_url %}active{% endif %}" href="{{ cart_url }}">
                        {{request.session.cart_items}}
                        <i class="fas fa-cart-plus"></i>
                    </a>
                </li>
                {% include 'search/snippets/search-form.html' %}
                {% if not request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == register_url %}active{% endif %}" href="{{register_url}}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == login_url %}active{% endif %}" href="{{ login_url }}">Login</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ logout_url }}">Logout</a>
                </li>
                {% endif %}
              </ul>
            </div>
        </nav>
    {% endblock navbar %}
    {% block content %}
    {% endblock %}
</body>
</html>
